@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
    font-family: 'Mulish', sans-serif;

}

body{
    overflow-x: hidden;
    background-color: rgba(153, 126, 85, 0.774);
}

.navbar-brand{
    font-size: 25px;
}

.nav-item{
    font-size: 20px;
}

.card{
    margin: auto;
    color: white;
    
}

#rodape {
    overflow: hidden;
    margin-top: 250px;
    background: #262626;
    color: #627482 !important;
    margin-bottom: 0;
    padding-bottom: 0
}

small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
    color: #989c9e !important
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}
